*{
    margin: 0; /* Le margin permet de réinitialiser les marges par défaut */
    padding: 0; /* Le padding permet de réinitialiser les espaces internes par défaut */
    font-family: 'Poppins', sans-serif; /* Définit la police de caractères pour tout le document */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la taille totale des éléments */

}

body {
    background: #001e4d; /* Définit la couleur de fond du corps de la page */
}

.app{
    background: #fff; /* Définit la couleur de fond de l'élément avec la classe "app" */
    width: 90%; /* Définit la largeur de l'élément à 90% de son conteneur parent */
    max-width: 600px; /* Définit la largeur maximale de l'élément */
    margin: 100px auto 0; /* Centre l'élément horizontalement avec une marge supérieure de 100px */
    border-radius: 10px; /* Arrondit les coins de l'élément */
    padding: 30px; /* Ajoute un padding interne de 30px */   
}

.app .h1{
    font-size: 25px; /* Définit la taille de la police pour l'élément avec la classe "h1" à 25px */
    color: #001e4d; /* Définit la couleur du texte pour l'élément avec la classe "h1" */
    font-weight: 600; /* Définit le poids de la police pour l'élément avec la classe "h1" */
    border-bottom: 1px solid #333; /* Ajoute une bordure inférieure de 1px solide avec la couleur #333 */
    padding-bottom: 30px; /* Ajoute un padding inférieur de 30px à l'élément avec la classe "h1" */
}

.quiz{
    padding: 20px; /* Ajoute un padding interne de 20px à l'élément avec la classe "quiz" */

}
.quiz .h2{
font-size: 18px; /* Définit la taille de la police pour l'élément avec la classe "h2" à 18px */
color: #001e4d; /* Définit la couleur du texte pour l'élément avec la classe "h2" */
font-weight: 600; /* Définit le poids de la police pour l'élément avec la classe "h2" */

}

.btn{
    background: #fff; /* Définit la couleur de fond de l'élément avec la classe "btn" */
    color:#222 ; /* Définit la couleur du texte pour l'élément avec la classe "btn" */
    font-weight: 500; /* Définit le poids de la police pour l'élément avec la classe "btn" */
    width: 100%; /* Définit la largeur de l'élément à 100% de son conteneur parent */
    border: 1px solid #222; /* Ajoute une bordure de 1px solide avec la couleur #222 */
    padding: 10px; /* Ajoute un padding vertical de 10px  */
    margin: 10px 0; /* Ajoute une marge verticale de 10px et aucune marge horizontale */
    text-align: left; /* Aligne le texte à gauche */
    border-radius: 4px; /* Arrondit les coins de l'élément */
    cursor: pointer; /* Change le curseur en pointeur lorsque l'utilisateur survole l'élément */
    transition: all 0.3s; /* Ajoute une transition de 0.3s pour toutes les propriétés modifiées */

}

.btn:hover{
    background: #222; /* Change la couleur de fond lorsque l'utilisateur survole l'élément */
    color: #fff; /* Change la couleur du texte lorsque l'utilisateur survole l'élément */
}

#next-btn{
    background: #001e4d; /* Définit la couleur de fond de l'élément avec l'ID "next-btn" */
    color:#fff ; /* Définit la couleur du texte pour l'élément avec l'ID "next-btn" */
    font-weight: 500; /* Définit le poids de la police pour l'élément avec la classe "btn" */
    width: 150px; /* Définit la largeur de l'élément à 150px */
    border: 0; /* Supprime la bordure de l'élément */
    padding: 10px; /* Ajoute un padding vertical de 10px */
    margin: 20px auto 0; /* Centre l'élément horizontalement avec une marge supérieure de 20px */
    border-radius: 4px; /* Arrondit les coins de l'élément */
    cursor: pointer; /* Change le curseur en pointeur lorsque l'utilisateur survole l'élément */
    display: none; /* Affiche l'élément en tant que bloc */
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}